*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 0.5em;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background: black;
  margin: 3em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon,
.right-icon {
  width: 2em;
  height: 2em;
}

.right-icon {
  margin-left: auto;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.menu-svg-rightside {
  margin-left: auto;
}

img {
  max-width: 100%;
}

.post-icons-left {
  gap: 0.5em;
  display: flex;
  align-items: center;
}

.post-icons {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.post-body {
  padding: 0 1em;
  padding-bottom: 1em;
}

@media only screen and (max-width: 720px) {
  .container {
    max-width: 100%;
  }
}
