*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background: black;
  margin: 3em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.icon {
  width: 2em;
  height: 2em;
}
.post-header {
  background: green;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.menu-svg {
  background: red;
  margin-left: auto;
}

.post-image {
  background: pink;
}

img {
  max-width: 400px;
}

.post-icons {
  background: blue;
}

.post-body {
  background: lightblue;
}
