*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: red;
  margin: 6em;
  background: black;
}

.container {
  background: white;
  padding: 2em;
}

.post-header {
  background: green;
}

.post-image {
  background: pink;
}

.post-icons {
  background: blue;
}

.post-body {
  background: lightblue;
}
